<div class="flex-container">

    <div class="error-404-text">
            <p class="h1 four notranslate">
                4
            </p>
            <div class="error-404-graphic-container">
                <img src="../../../assets/logo/ghost.png" class="error-404-graphic-img"/>
            </div>
            <p class="h1 four notranslate">
                4
            </p>
    </div>

    <div class="error-404-message">
        "Oops, it looks like this dish has already been devoured by our AI chef! It's no longer on the menu, 
        but feel free to explore other delectable visual treats on FoodVision. Selamat Makan!" 
        🍔🍕🍣🍰🍩🥗🍿
    </div>

    <div class="btnHome-container">
        <button class="btnHome" (click)="directHome()">
            Back to Home
        </button>
    </div>

</div>