<mat-sidenav-container class="sidenav-container" id="content-background">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" [opened]="false">
    <mat-toolbar>
      <div class="glowy-title" title="FoodVision">
        <a class="mobile-title notranslate" routerLink="">FoodVision</a>
      </div>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" ngxHideOnScroll [propertyUsedToHide]="'transform'"
      [valueWhenHidden]="'translateY(-100%)'" [valueWhenShown]="'translateY(0%)'" class="main-header p-0">
      <div class="container d-flex align-items-center nav-content-container">
        <!--Mobile Left Nav-->
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" class="menu-icon">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!--Desktop Left Nav-->
        <div class="glowy-title" title="FoodVision">
          <a class="title notranslate" routerLink="">FoodVision</a>
        </div>
        <div class="flex-stretch"></div>

        <mat-icon class="desk-theme-icon mr-8">brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
        <mat-icon class="theme-icon">bedtime</mat-icon>
      </div>
    </mat-toolbar>
    <!-- Content -->
    <div class="content-container container py-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-google-translator></app-google-translator>