<mat-sidenav-container class="sidenav-container" id="content-background">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" [opened]="false">
    <mat-toolbar>
      <div class="glowy-title" title="FoodVision">
        <a class="mobile-title notranslate" routerLink="">FoodVision</a>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="direct('home')">
        <mat-icon class="mobile-nav-icon">home</mat-icon> Home
      </a>
      <a mat-list-item (click)="direct('search')">
        <mat-icon class="mobile-nav-icon">search</mat-icon> Search
      </a>
      <ng-container *ngIf="!isLoggedIn">
        <a mat-list-item (click)="direct('register')">
          <mat-icon class="mobile-nav-icon">person_add</mat-icon> Register
        </a>
        <a mat-list-item (click)="direct('login')">
          <mat-icon class="mobile-nav-icon">vpn_key</mat-icon> Login
        </a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a mat-list-item (click)="direct('profile')">
          <mat-icon class="mobile-nav-icon">account_circle</mat-icon> My Details
        </a>
        <a mat-list-item (click)="direct('logout')">
          <mat-icon class="mobile-nav-icon">exit_to_app</mat-icon> Logout
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" ngxHideOnScroll [propertyUsedToHide]="'transform'"
      [valueWhenHidden]="'translateY(-100%)'" [valueWhenShown]="'translateY(0%)'" class="main-header p-0">
      <div class="container d-flex align-items-center nav-content-container">
        <!--Mobile Left Nav-->
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" class="menu-icon">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!--Desktop Left Nav-->
        <div class="glowy-title" title="FoodVision">
          <a class="title notranslate" routerLink="">FoodVision</a>
        </div>

        <div class="flex-stretch"></div>

        <!--Theme Changer-->
        <mat-icon class="desk-theme-icon mr-8">brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
        <mat-icon class="theme-icon">bedtime</mat-icon>

        <ng-container *ngIf="!isLoggedIn">
          <button mat-raised-button (click)="direct('register')" class="desktop-btn"
            style="background: var(--accent); text-shadow: 1px 2px 3px black; color: white;">
            <mat-icon class="mobile-nav-icon" style="color: white;">person_add</mat-icon> Register
          </button>
          <button mat-raised-button (click)="direct('login')" class="desktop-btn"
            style="background: var(--primary); text-shadow: 1px 2px 3px black; color: white;">
            <mat-icon class="mobile-nav-icon" style="color: white;">vpn_key</mat-icon> Login
          </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <button mat-button [matMenuTriggerFor]="menu" class="user-pfp" id="user-pfp">
            <mat-icon mat-card-avatar></mat-icon>
          </button>
        </ng-container>
      </div>
    </mat-toolbar>
    <!-- Content -->
    <div class="content-container container py-5" id="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-google-translator></app-google-translator>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="direct('profile')">
    <mat-icon class="mobile-nav-icon">account_circle</mat-icon> My Details
  </button>
  <button mat-menu-item (click)="direct('search')">
    <mat-icon class="mobile-nav-icon">search</mat-icon> Search
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="mobile-nav-icon">exit_to_app</mat-icon> Logout
  </button>
</mat-menu>