<div id="canvasMain" #canvasMain>
    <img id="originalImage" src="{{imageUrl}}">
</div>
<div id="canvasConfirm" #canvasConfirm> <!--Store it in a modal instead.-->
    <img id="croppedImage">
</div>
<div class="action-btn-container">
    <ng-container *ngIf="croppedData == ''">
        <button mat-raised-button color="primary" (click)="crop()" matTooltip="Confirm Crop">
            <mat-icon>done</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="croppedData !== ''">
        <button mat-raised-button color="warn" (click)="restore()" matTooltip="Restore Crop">
            <mat-icon>restore</mat-icon>
        </button>
    </ng-container>
</div>