::ng-deep .cropper-bg {
    background-image: none !important;
    background: black;
}

#canvasMain, #canvasConfirm {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.action-btn-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#originalImage, #croppedImage {
    height: 100%;
    width: 100%;
}