<div class="center-container">
    <div class="flex-container">
        <div class="left-container file-input">
            <ng-container *ngIf="hasFile === false; else showImage">
                <label for="image-input" class="drop-container">
                    <span class="drop-title">Drop files here</span>
                    or
                    <input type="file" id="image-input" accept="capture=camera,image/*" (change)="onFileChange($event)"
                        required #imageInput>
                </label>
            </ng-container>
            <canvas #elementCanvas style="display: none;" id="elementCanvas"></canvas>
            <ng-template #showImage>
                <div class="image-preview-container d-flex justify-content-center">
                    <img id="image-preview" alt="image-preview.jpg" [src]="imgUrl" #imagePreview />
                </div>
                <div class="img-action-container d-flex flex-direction-row justify-content-center">
                    <button mat-raised-button (click)="removeImage()" style="margin-right: .25rem;"
                        matTooltip="Remove Image" class="close-btn">
                        <mat-icon class="m-0">close</mat-icon>
                    </button>
                    <button mat-raised-button (click)="openCropDialog()" matTooltip="Crop" class="crop-btn">
                        <mat-icon class="m-0">crop</mat-icon>
                    </button>
                </div>
            </ng-template>
        </div>
        <div class="right-container allergy-filter">
            <p class="h2 legend">I am Allergic to:</p>
            <div class="checkbox-group">
                <ng-container *ngFor="let allergen of allergens">
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox-input" [(ngModel)]="allergen.checked" />
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <fa-icon [icon]="allergen.icon" class="fa-icon"></fa-icon>
                                </span>
                                <span class="checkbox-label">
                                    {{allergen.name}}
                                </span>
                            </span>
                        </label>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <button mat-raised-button class="predict-btn my-4" (click)="predict()">
            <span class="predict-btn-text">
                What Food is This? 🤔
            </span>
        </button>
    </div>
</div>
<ng-template #imageEditor>
    <mat-dialog-content class="image-editor-dialog">
        <app-image-editor [imageUrl]="imgUrl"></app-image-editor>
    </mat-dialog-content>
</ng-template>
<ng-template #progressLoader>
    <mat-dialog-content class="progress-loader-dialog">
        <div class="loader-modal-content">
            <img src="../../../assets/logo/loader.png" alt="loader.png" style="width: 100%; height: 100%;">
            <ng-container *ngIf="isLoading == true; else showMessage">
                <mat-progress-bar mode="indeterminate" style="border-radius: 15px;"></mat-progress-bar>
            </ng-container>
            <ng-template #showMessage>
                <p class="h3"
                    style="font-weight: 700; letter-spacing: 1px; text-align: center; font-size: 1rem; line-height: 1.5;">
                    {{statusMessage}}
                </p>
                <button mat-raised-button (click)="closeProgressDialog()" class="btnClose w-50">
                    Ok
                </button>
            </ng-template>
        </div>
    </mat-dialog-content>
</ng-template>