<div class="flex-container">

    <div class="forgot-form-container">

        <form>
            <p class="h1 forgot-form-title notranslate">Forgot Password</p>
            <mat-form-field class="control w-100" appearance="outline"> <!--Email-->
                <mat-label>Email</mat-label>
                <input matInput class="email" type="email" [formControl]="email" placeholder="food@example.com"
                    required />
                <mat-error *ngIf="email.invalid">
                    {{getErrorMessage(email)}}
                </mat-error>
            </mat-form-field>
            <button class="btnSend" mat-raised-button (click)="submitResetPasswordRequest()" [disabled]="email.invalid">
                Send Reset Email
            </button>
        </form>

    </div>

</div>