<div class="flex-container">
    <div class="left-container">
        <img src="../../../assets/logo/app-preview.jpg" class="app-preview-image">
    </div>
    <div class="right-container">
        <div class="logo-container">
            <div class="logo-border-container">
                <img src="../../../assets/logo/logo.jpg" class="logo-image">
            </div>
            <p class="h2 logo-text notranslate">Food <br /> Vision</p>
        </div>
        <p class="h2 app-type">Instant Malaysian Food Recognition</p>
        <p class="h3 app-description">A smart camera web app that uses deep learning to get information of the food classified from the
            food images.</p>
        <button mat-raised-button class="btnScanNow" (click)="navigateToSearch()">
            <span class="btnScanNow-txt">Scan Now!</span>
            <fa-icon [icon]="faMobileScreenButton" class="btnScanNow-icon"></fa-icon>
        </button>
    </div>
</div>