<div class="flex-container">

    <button class="btnMail" matTooltip="Contact Us">
        <a href="mailto:cheezhensia24@gmail.com">
            <fa-icon [icon]="faEnvelope" class="mail-icon"></fa-icon>
        </a>
    </button>

    <div class="footer-content">
        <a href="/home" class="link border-right">
            Home
        </a>
        <span></span>
        <a href="/search" class="link border-right">
            Search
        </a>
        <a href="/login" class="link border-right">
            Login
        </a>
        <a href="/register" class="link">
            Register
        </a>
    </div>

    <div class="copyright">
        © 2023 MakanVision. All Rights Reserved.
    </div>

</div>